* {
    margin: 0;
    padding: 0;
}

/*modo claro*/
@media (prefers-color-scheme: light) {
    :root {
        --body-bg: #FFFFFF;
        --body-color: #000000;
        --nav-footer-bg-color: rgb(154, 206, 241);
        --enlace-color : rgb(26, 24, 24);
    }
 }

 /*modo oscuro*/
 @media (prefers-color-scheme: dark) {
    :root {
        --body-bg: #000000;
        --body-color: #FFFFFF;
        --nav-footer-bg-color: rgb(2, 2, 2);
        --enlace-color : rgb(248, 239, 239);
    }
 }


body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


header {
    background-color: var(--nav-footer-bg-color);
    color: white;
    position: fixed;
    height: 60px;
    width: 100%;
    padding: 15px;
    z-index: 10;
}


ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
}


.ul--li--img{
    width: 45%;
    height: 100%;
    border-radius: 50%;
}  

.ul--li--img-casa{
    width: 30%;
    height: 80%;
    border-radius: 50%;
}


li{
    font-size: 17px;
    text-decoration: none;
    width: 10%;
    height: 50%;
}



a{
    text-decoration: none;
    color: var(--enlace-color);
    cursor: pointer;
}


.nav-menu {
    position: relative;
    align-items: center;
    justify-content: space-evenly;
}

.submenu {
    position: absolute;
    background-color: aliceblue;
    color: #434343;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    align-items: flex-start;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.submenu a {
    color: #434343;
}

.hidden {
    display: none;
}
