/*modo claro*/
@media (prefers-color-scheme: light) {
    :root {
        --body-bg: #FFFFFF;
        --body-color: #000000;
        --nav-footer-bg-color: rgb(154, 206, 241);
        --enlace-color : rgb(24, 22, 22);
    }
 }

 /*modo oscuro*/
 @media (prefers-color-scheme: dark) {
    :root {
        --body-bg: #FFFFFF;
        --body-color: #000000;
        --nav-footer-bg-color: rgb(154, 206, 241);
        --enlace-color : rgb(24, 22, 22);
    }
 }

* {
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

a {
    text-decoration: none;
    color: var(--enlace-color);
    cursor: pointer;
}


body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


header {
    background-color: var(--nav-footer-bg-color);
    color: white;
    position: fixed;
    height: 60px;
    width: 100%;
    padding: 15px;
    z-index: 10;
}

header ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
}


header .ul--li--img{
    width: 45%;
    height: 100%;
    border-radius: 50%;
}

header .ul__li__a-casa{
    width: 30%;
    height: 80%;
    border-radius: 50%;
}


header li{
    font-size: 17px;
    text-decoration: none;
    width: 10%;
    height: 50%;
}

header .nav__menu {
    position: relative;
    align-items: center;
    justify-content: space-evenly;
}

header .submenu {
    position: absolute;
    background-color: aliceblue;
    color: #434343;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    align-items: flex-start;
    box-shadow: rgba(75, 37, 37, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

header .submenu a {
    color: #434343;
}

main {
    margin-top: 60px;
    background: url(/recursos/imagenes/dia-de-los-animales.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex: 1;
}


footer{
    background-color: var(--nav-footer-bg-color);
    color: white;
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
